@import "colors.scss";
@import "mixins.scss";

body
{
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  min-width: 400px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 500px;
  div.st-header
  {
    background-color: $blue;

    div.st-top
    {
      max-width:1110px;
      margin:0px auto;
      height:50px;
      img.st-logo
      {
        width:150px;
        height:25px;
        @include vertical-center();
      }
      input.st-button
      {
        height:30px;
        border:0px;
        background-color: white;
        border-radius:3px;
        text-align:center;
        line-height: 30px;
        float: right;
        font-size:12px;
        padding: 0px 13px;           
        @include vertical-center();
      }
      input.st-sign
      {
        margin-right:15px;
      }
      input.st-register
      {
        margin-right:15px;
        padding: 0px 10px;                                               
        font-weight: 700;
      }
      input.st-import
      {
        float:right;
        background-color:$blue;
        border: 1px solid white;
        color:white;
        @include vertical-center();
        margin-right:15px;
        border-radius: 3px;
        font-size:12px;
        padding:8px 11px;
        font-weight: 700;
      }
      img.st-flag
      {
        float:right;
        margin-right:26px;
        @include vertical-center();
        height:18px;
      }
      span.st-currency
      {
        color:white;
        margin-right:34px;
        font-size:12px;
        float:right;
        font-weight: 700;
        @include vertical-center();
      }
    }
    div.st-bottom
    {
      max-width:1110px;
      margin:0px auto;
      min-height:60px;
      span.st-unselected
      {
       color: #838383;
      }
      span.st-selected
      {
        border-bottom:2px solid white;
      }
      span
      {
        color:white;
        font-size:13px;
        line-height: 55px;
        margin:0 16px;
        display:inline-block;
        min-height:56px;
        padding:auto;
       
        i 
        {
          font-size:25px;
          margin-right:5px;
          color:white;
        }
      }
    }
  }
  div.st-search
  {
    height:fit-content;
    min-height:260px;
    background-color: #F7F7F7;
    margin:0px;
    div.st-search-content
    {
      padding:44px 5px;
      margin:0px auto;
      width:calc(100% - 10px);
      border-collapse: separate;
      max-width:1100px;
      p.st-important 
      {
        font-size:24px;
        margin:0px;
        font-weight:600;
      }
      p.st-description
      {
        margin:0px 0px 10px;
        font-size:14px;
      }
      div.st-location 
      {
        margin-top:15px;
        position: relative;
        width:39%;
        height:52px;
        float:left;
        min-width:190px;
        margin-top:0px;
        margin-bottom: 10px;
        input
        {
          width:calc(100% - 60px);
          height:100%;
          padding-left:60px;
          border: 4px solid $yellow;
          font-size:14px;
        }
        i
        {
          position:absolute;
          top:18px;    
          font-size: 25px;
          left: 18px;
          color:$gray;
        }
      }
      div.st-date
      {
        margin-top:15px;
        position: relative;
        width:24%;
        height:52px;
        float:left;
        min-width:235px;
        margin:0px;
        margin-bottom: 10px;
        
        input
        {
          width:calc(100% - 60px);
          height:100%;
          padding-left:60px;
          border: 4px solid $yellow;
          font-size:14px;
        }
        i
        {
          position:absolute;
          top:18px;    
          font-size: 25px;
          left: 24px;
          color:$gray;
        }
      }
      div.st-count
      {
        margin-top:15px;
        position: relative;
        width:26%;
        height:52px;
        float:left;
        min-width:270px;
        margin:0px;
        margin-bottom: 10px;
        
        input
        {
          width:calc(100% - 60px);
          height:100%;
          padding-left:60px;
          border: 4px solid $yellow;
          font-size:14px;
        }
        i
        {
          position:absolute;
          top:18px;    
          font-size: 25px;
          left: 24px;
          color:$gray;
        }
      }
      div.st-search-btn
      {
        margin:0px;
        margin-bottom: 10px;
        input.st-input
        {
          width:10%;
          position: relative;
          float:left;
          border: 4px solid $yellow;
          height:62px;
          font-size:20px;
          color:white;
          background-color:#006BB8;
          min-width:75px;
          overflow:hidden;
        }
      }
      div.st-bussiness
      {
        float:left;
        width:100%;
        position:relative;
        margin-top:15px;
        input 
        {
          height:20px;
          width: 20px;
        }
      }
    }
  }
  div.st-special-offer
  {
    width:calc(100% - 30px);
    max-width: 1100px;
    margin:60px auto 24px;
    border: 1px solid $border-gray;
    height:155px;
    position:relative;
    @include break-point(1100px)
    {
      margin: 60px 10px 24px;
    }
    img{
      top:24px;
      left:24px;
      position:absolute;
    }
    p.st-bold
    {
      font-weight:700;
      position:absolute;
      left: 138px;
      top:5px;
      font-size:16px;
    }
    p.st-description
    {
      position: absolute;
      width:calc(100% - 150px);
      left:138px;
      color:$text-gray;
      top:37px;
      font-size:14px;
      @include text-overflow();
    }
    input 
    {
      color:$blue-button;
      background-color:white;
      font-weight:900;
      font-size:14px;
      border: 1px solid $blue-button;
      padding:8px 16px;
      position:absolute;
      left:138px;
      top:89px;
    }
    i 
    {
      position:absolute;
      right:26px;
      top:26px;
      font-size:25px;
    }
  }
  div.st-images
  {
    width:calc(100% - 30px);
    max-width: 1100px;
    margin:60px auto 24px;
    position:relative;
    @include break-point(1100px)
    {
      margin: 60px 10px 24px;
    }
    div.st-image-holder
    {
      width:100%;
      max-width: 1100px;
      position:relative;
      float:left;
      div.st-first 
      {
        width:calc(50% - 4px);
        margin-right: 8px;
        img.st-sankt
        {
          width:100%;
          float:left;
          border-radius: 5px;
        }
        p.st-title
        {
          position:absolute;
          top:25px;
          left:25px;
          margin:0px;
          color:white;
          font-size: 28px;
          font-weight:700;
          text-shadow: 1px 1px black;
          img 
          {
            top:10px;
            position:absolute;
            margin-left:10px;
          }
        }
        p.st-objects
        {
          position:absolute;
          color:white;
          top:49px;
          left:25px;
          span 
          {
            font-weight:700;
            text-shadow: 1px 1px black;
          }

        }
        p.st-check
        {
          background-color:#e9f0fa;
          margin:0px;
          position: absolute;
          width:calc(50% - 14px);
          bottom:41px;
          font-weight:700;
          font-size:14px;
          padding: 0px 5px;
        }
        p.st-suggestion
        {
          background-color:white;
          position: absolute;
          width:calc(50% - 98px);
          bottom:4px;
          margin:0px;
          height:20px;
          line-height: 20px;
          border:1px solid #e9f0fa;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          font-weight:400;
          padding: 10px 87px 5px 5px;
          font-size:14px;
          text-align:center;
          span.st-date
          {
            color:blue;
            text-decoration:underline;
            float:left;
          }
        }
        i 
          {
            position:absolute;
            left: calc(50% - 30px);
            bottom: 12px;
            color:blue;
          }
      }
      div.st-second
      {
        float:left;
        width:calc(50% - 4px);
        margin-left: 8px;
        img.st-moskva {
          border-radius: 5px;
          width:100%;
        }
        p.st-title
        {
          position:absolute;
          top:25px;
          left:calc(50% + 25px);
          margin:0px;
          color:white;
          font-size: 28px;
          font-weight:700;
          text-shadow: 1px 1px black;
          img 
          {
            top:10px;
            position:absolute;
            margin-left:10px;
          }
        }
        p.st-objects
        {
          position:absolute;
          color:white;
          top:49px;
          left:calc(50% + 25px);
        }
      }
    }
  }
}