body {
  font-family: Helvetica, Arial, sans-serif;
  min-width: 400px;
  margin: 0;
  padding: 0 0 40px;
}

body div.st-header {
  background-color: #003580;
}

body div.st-header div.st-top {
  max-width: 1110px;
  margin: 0px auto;
  height: 50px;
}

body div.st-header div.st-top img.st-logo {
  width: 150px;
  height: 25px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body div.st-header div.st-top input.st-button {
  height: 30px;
  border: 0px;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  float: right;
  font-size: 12px;
  padding: 0px 13px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body div.st-header div.st-top input.st-sign {
  margin-right: 15px;
}

body div.st-header div.st-top input.st-register {
  margin-right: 15px;
  padding: 0px 10px;
  font-weight: 700;
}

body div.st-header div.st-top input.st-import {
  float: right;
  background-color: #003580;
  border: 1px solid white;
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 15px;
  border-radius: 3px;
  font-size: 12px;
  padding: 8px 11px;
  font-weight: 700;
}

@media (max-width: 650px) {
  body div.st-header div.st-top input.st-import {
    display: none;
  }
}

body div.st-header div.st-top img.st-flag {
  float: right;
  margin-right: 26px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 18px;
}

body div.st-header div.st-top span.st-currency {
  color: white;
  margin-right: 34px;
  font-size: 12px;
  float: right;
  font-weight: 700;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body div.st-header div.st-bottom {
  max-width: 1110px;
  margin: 0px auto;
  min-height: 60px;
}

body div.st-header div.st-bottom span.st-unselected {
  color: #838383;
}

body div.st-header div.st-bottom span.st-selected {
  border-bottom: 2px solid white;
}

body div.st-header div.st-bottom span {
  color: white;
  font-size: 13px;
  line-height: 55px;
  margin: 0 16px;
  display: inline-block;
  min-height: 56px;
  padding: auto;
}

body div.st-header div.st-bottom span i {
  font-size: 25px;
  margin-right: 5px;
  color: white;
}

body div.st-search {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 260px;
  background-color: #f7f7f7;
  margin: 0px;
}

@media (max-width: 1030px) {
  body div.st-search {
    height: 410px;
  }
}

body div.st-search p.st-important {
  font-size: 24px;
  margin: 0 auto;
  max-width: 1100px;
  font-weight: 600;
}

body div.st-search p.st-description {
  margin: 0 auto;
  max-width: 1100px;
  font-size: 14px;
}

body div.st-search div.st-search-content {
  padding: 44px 5px;
  margin: 0px auto;
  width: calc(100% - 10px);
  max-width: 1100px;
}

body div.st-search div.st-search-content div.st-location {
  margin-top: 15px;
  position: relative;
  width: 35%;
  height: 52px;
  float: left;
  min-width: 190px;
  margin-top: 0px;
  margin-bottom: 10px;
}

@media (max-width: 1030px) {
  body div.st-search div.st-search-content div.st-location {
    width: calc(100% - 5px);
  }
}

body div.st-search div.st-search-content div.st-location input {
  width: calc(100% - 63px);
  height: 100%;
  padding-left: 60px;
  border: 4px solid #febb02;
  font-size: 14px;
}

body div.st-search div.st-search-content div.st-location i {
  position: absolute;
  top: 18px;
  font-size: 25px;
  left: 18px;
  color: #BDBDBD;
}

body div.st-search div.st-search-content div.st-date {
  margin-top: 15px;
  position: relative;
  width: 28%;
  height: 52px;
  float: left;
  min-width: 235px;
  margin: 0px;
  margin-bottom: 10px;
}

@media (max-width: 1030px) {
  body div.st-search div.st-search-content div.st-date {
    display: none;
  }
}

body div.st-search div.st-search-content div.st-date input {
  width: calc(100% - 63px);
  height: 100%;
  padding-left: 60px;
  padding-right: 15px;
  border: 4px solid #febb02;
  font-size: 14px;
}

body div.st-search div.st-search-content div.st-date i {
  position: absolute;
  top: 18px;
  font-size: 25px;
  left: 24px;
  color: #BDBDBD;
}

body div.st-search div.st-search-content div.st-low-res-date {
  display: none;
}

@media (max-width: 1030px) {
  body div.st-search div.st-search-content div.st-low-res-date {
    width: 100%;
    position: relative;
    display: block;
    float: left;
    width: 100%;
  }
  body div.st-search div.st-search-content div.st-low-res-date div {
    position: relative;
    width: 50%;
    float: left;
  }
  body div.st-search div.st-search-content div.st-low-res-date input {
    width: calc(100% - 83px);
    height: 52px;
    padding-left: 60px;
    padding-right: 15px;
    float: left;
    border: 4px solid #febb02;
    font-size: 14px;
  }
  body div.st-search div.st-search-content div.st-low-res-date i {
    position: absolute;
    top: 18px;
    font-size: 25px;
    left: 24px;
    color: #BDBDBD;
  }
}

body div.st-search div.st-search-content div.st-count {
  margin-top: 15px;
  position: relative;
  width: 26%;
  height: 52px;
  float: left;
  min-width: 270px;
  margin: 0px;
  margin-bottom: 10px;
}

@media (max-width: 1030px) {
  body div.st-search div.st-search-content div.st-count {
    width: 100%;
  }
}

body div.st-search div.st-search-content div.st-count input {
  width: calc(100% - 60px);
  height: 100%;
  padding-left: 60px;
  border: 4px solid #febb02;
  font-size: 14px;
}

@media (max-width: 1030px) {
  body div.st-search div.st-search-content div.st-count input {
    width: calc(100% - 68px);
  }
}

body div.st-search div.st-search-content div.st-count i {
  position: absolute;
  top: 18px;
  font-size: 25px;
  left: 24px;
  color: #BDBDBD;
}

body div.st-search div.st-search-content div.st-search-btn {
  margin: 0px;
  margin-bottom: 10px;
}

body div.st-search div.st-search-content div.st-search-btn input.st-input {
  width: 10%;
  position: relative;
  float: left;
  border: 4px solid #febb02;
  height: 62px;
  font-size: 20px;
  color: white;
  background-color: #006bb8;
  min-width: 75px;
  overflow: hidden;
}

@media (max-width: 1030px) {
  body div.st-search div.st-search-content div.st-search-btn input.st-input {
    width: 100%;
  }
}

body div.st-search div.st-search-content div.st-bussiness {
  float: left;
  width: 100%;
  position: relative;
  margin-top: 15px;
}

body div.st-search div.st-search-content div.st-bussiness input {
  height: 20px;
  width: 20px;
}

body div.st-special-offer {
  width: calc(100% - 30px);
  max-width: 1100px;
  margin: 60px auto 24px;
  border: 1px solid #e0e0e0;
  height: 155px;
  position: relative;
}

@media (max-width: 1100px) {
  body div.st-special-offer {
    margin: 60px 10px 24px;
  }
}

body div.st-special-offer img {
  top: 24px;
  left: 24px;
  position: absolute;
}

body div.st-special-offer p.st-bold {
  font-weight: 700;
  position: absolute;
  left: 138px;
  top: 5px;
  font-size: 16px;
}

body div.st-special-offer p.st-description {
  position: absolute;
  width: calc(100% - 150px);
  left: 138px;
  color: #383838;
  top: 37px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
}

body div.st-special-offer p.st-description:hover {
  border: 1px solid #eee;
  padding: 2px;
  white-space: normal;
  word-break: break-word;
  z-index: 5;
  background-color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body div.st-special-offer input {
  color: #248AD4;
  background-color: white;
  font-weight: 900;
  font-size: 14px;
  border: 1px solid #248AD4;
  padding: 8px 16px;
  position: absolute;
  left: 138px;
  top: 89px;
}

body div.st-special-offer i {
  position: absolute;
  right: 26px;
  top: 26px;
  font-size: 25px;
}

body div.st-images {
  width: calc(100% - 30px);
  max-width: 1100px;
  margin: 60px auto 24px;
  position: relative;
}

@media (max-width: 1100px) {
  body div.st-images {
    margin: 60px 10px 24px;
  }
}

body div.st-images div.st-image-holder {
  width: 100%;
  max-width: 1100px;
  min-width: 650px;
  position: relative;
  float: left;
}

body div.st-images div.st-image-holder div.st-first {
  width: calc(50% - 10px);
  background: url(/img/peterburg.jpg);
  margin-right: 10px;
  height: 340px;
  float: left;
  border-radius: 5px;
}

body div.st-images div.st-image-holder div.st-first p.st-title {
  position: absolute;
  top: 25px;
  left: 25px;
  margin: 0px;
  color: white;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 1px 1px black;
  width: calc(50% - 62px);
}

body div.st-images div.st-image-holder div.st-first p.st-title img {
  top: 10px;
  position: absolute;
  margin-left: 10px;
}

body div.st-images div.st-image-holder div.st-first p.st-objects {
  position: absolute;
  color: white;
  top: 49px;
  width: calc(50% - 32px);
  left: 25px;
  text-shadow: 1px 1px black;
}

body div.st-images div.st-image-holder div.st-first p.st-objects span {
  font-weight: 700;
  text-shadow: 1px 1px black;
}

body div.st-images div.st-image-holder div.st-first p.st-check {
  background-color: #e9f0fa;
  margin: 0px;
  position: absolute;
  width: calc(50% - 20px);
  bottom: 37px;
  font-weight: 700;
  font-size: 14px;
  padding: 0px 5px;
}

body div.st-images div.st-image-holder div.st-first div.st-suggestion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 5px;
  background-color: white;
  position: absolute;
  width: calc(50% - 22px);
  padding: 10px 5px 5px;
  bottom: 0px;
  margin: 0px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #e9f0fa;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

body div.st-images div.st-image-holder div.st-first div.st-suggestion p.st-date {
  margin: 0px;
  text-align: left;
  color: blue;
  text-decoration: underline;
  min-width: 87px;
}

body div.st-images div.st-image-holder div.st-first div.st-suggestion p.st-room {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  min-width: 150px;
}

body div.st-images div.st-image-holder div.st-first div.st-suggestion i {
  text-align: right;
  color: blue;
}

body div.st-images div.st-image-holder div.st-first div.st-icon-holder {
  position: absolute;
  right: calc(50% + 20px);
  top: 10px;
  color: white;
}

body div.st-images div.st-image-holder div.st-second {
  float: left;
  width: calc(50% - 10px);
  margin-left: 10px;
  border-radius: 5px;
  height: 340px;
  background: url(/img/moskva.png);
}

body div.st-images div.st-image-holder div.st-second img.st-icon {
  width: 28px;
  height: 28px;
  border-top-left-radius: 5px;
}

body div.st-images div.st-image-holder div.st-second p.st-title {
  position: absolute;
  top: 25px;
  left: calc(50% + 27px);
  margin: 0px;
  color: white;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 1px 1px black;
  width: calc(50% - 62px);
}

body div.st-images div.st-image-holder div.st-second p.st-title img {
  top: 10px;
  position: absolute;
  margin-left: 10px;
}

body div.st-images div.st-image-holder div.st-second p.st-objects {
  position: absolute;
  color: white;
  top: 49px;
  left: calc(50% + 27px);
  width: calc(50% - 32px);
  text-shadow: 1px 1px black;
}

body div.st-images div.st-image-holder div.st-second p.st-average-price {
  background-color: #383838;
  margin: 0px;
  width: 76px;
  font-size: 12px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 4px 6px;
  border-radius: 3px;
  text-align: right;
  color: white;
}

body div.st-images div.st-image-holder div.st-second p.st-average-price span.st-price {
  font-size: 16px;
}

body div.st-images div.st-image-holder div.st-second div.st-icon-holder {
  position: absolute;
  right: 20px;
  color: white;
  top: 10px;
}

body div.st-images div.st-second-row {
  width: 100%;
  max-width: 1100px;
  min-width: 670px;
  display: -ms-grid;
  display: grid;
  float: left;
  margin: 15px 0 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  position: relative;
  height: 272px;
}

body div.st-images div.st-second-row div.st-image {
  position: relative;
  border-radius: 5px;
}

body div.st-images div.st-second-row div.st-image img.st-icon {
  width: 28px;
  height: 28px;
  border-top-left-radius: 5px;
}

body div.st-images div.st-second-row div.st-image p.st-title {
  position: absolute;
  top: 25px;
  left: 25px;
  margin: 0px;
  color: white;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 1px 1px black;
}

body div.st-images div.st-second-row div.st-image p.st-title img {
  height: 18px;
  width: 18px;
}

body div.st-images div.st-second-row div.st-image p.st-objects-number {
  position: absolute;
  left: 25px;
  top: 45px;
  text-shadow: 1px 1px black;
  color: white;
  font-size: 16px;
}

body div.st-images div.st-second-row div.st-image p.st-price {
  background-color: #383838;
  margin: 0px;
  width: 85px;
  font-size: 12px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 4px 6px;
  border-radius: 3px;
  text-align: right;
  color: white;
}

body div.st-images div.st-second-row div.st-image p.st-price span {
  font-size: 16px;
}

body div.st-images div.st-second-row div.st-image i {
  color: white;
  position: absolute;
  right: 15px;
  top: 15px;
}

body div.st-images div.st-second-row div.st-first {
  background: url(/img/kiev.jpg);
}

body div.st-images div.st-second-row div.st-second {
  background: url(/img/riga.jpg);
}

body div.st-images div.st-second-row div.st-third {
  background: url(/img/helsinki.jpg);
}

body div.st-accommodation {
  max-width: 1100px;
  width: 100%;
  margin: 0px auto;
}

body div.st-accommodation p.st-title {
  font-size: 24px;
  color: #383838;
  float: left;
  font-weight: 700;
  margin: 0px 0px 16px;
}

body div.st-accommodation div.st-sorts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  height: 300px;
  grid-gap: 16px;
  float: left;
  width: calc(100% - 10px);
  padding: 0 5px;
}

body div.st-accommodation div.st-sorts div.st-apartments {
  background-image: url(/img/apartments.png);
}

body div.st-accommodation div.st-sorts div.st-resorts {
  background-image: url(/img/resorts.png);
}

body div.st-accommodation div.st-sorts div.st-villas {
  background-image: url(/img/villas.png);
}

body div.st-accommodation div.st-sorts div.st-cabins {
  background-image: url(/img/cabins.png);
}

body div.st-accommodation div.st-sorts div.st-cottages {
  background-image: url(/img/cottages.jpg);
}

body div.st-accommodation div.st-sorts div.st-type {
  background-repeat: no-repeat;
  background-size: auto 205px;
}

body div.st-accommodation div.st-sorts div.st-type p.st-type {
  font-size: 16px;
  font-weight: 700;
  margin: 221px 0 0;
}

body div.st-accommodation div.st-sorts div.st-type p.st-ammount {
  color: #707070;
  font-size: 12px;
  margin: 0 0 16px;
}

body div.st-accommodation div.st-private-rooms p.st-title {
  font-size: 24px;
  padding: 0 5px;
  width: calc(100% - 10px);
}

body div.st-accommodation div.st-private-rooms div.st-offers {
  max-width: 1100px;
  width: calc(100% - 10px);
  height: 356px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  position: relative;
  grid-gap: 16px;
  padding: 0 5px;
}

body div.st-accommodation div.st-private-rooms div.st-offers div.st-domina {
  background-image: url(/img/domina.png);
}

body div.st-accommodation div.st-private-rooms div.st-offers div.st-annabel {
  background-image: url(/img/annabel.png);
}

body div.st-accommodation div.st-private-rooms div.st-offers div.st-elegant {
  background-image: url(/img/elegant.png);
}

body div.st-accommodation div.st-private-rooms div.st-offers div.st-belinskogo {
  background-image: url(/img/belinskogo.png);
}

body div.st-accommodation div.st-private-rooms div.st-offers div {
  background-repeat: no-repeat;
  background-size: auto 240px;
  position: relative;
  min-width: 0;
}

body div.st-accommodation div.st-private-rooms div.st-offers div p.st-name {
  color: #383838;
  margin: 247px 0 0 0;
  max-width: 100%;
  font-size: 14px;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
}

body div.st-accommodation div.st-private-rooms div.st-offers div p.st-name:hover {
  border: 1px solid #eee;
  padding: 2px;
  white-space: normal;
  word-break: break-word;
  z-index: 5;
  background-color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body div.st-accommodation div.st-private-rooms div.st-offers div p.st-location {
  color: #707070;
  font-size: 14px;
  margin: 0;
  position: absolute;
  top: 267px;
}

body div.st-accommodation div.st-private-rooms div.st-offers div p.st-price {
  margin: 8px 0 0;
  font-size: 14px;
  position: absolute;
  top: 279px;
  font-weight: 600;
}

body div.st-accommodation div.st-private-rooms div.st-offers div p.st-score {
  top: 296px;
  position: absolute;
}

body div.st-accommodation div.st-private-rooms div.st-offers div p.st-score span.st-mark {
  background-color: #003580;
  color: white;
  padding: 4px;
  border-radius: 6px 6px 6px 0px;
  font-size: 14px;
  font-weight: 500;
}

body div.st-accommodation div.st-private-rooms div.st-offers div p.st-score span.st-desc {
  color: #003580;
  font-size: 14px;
  font-weight: 500;
}

body div.st-accommodation div.st-private-rooms div.st-offers div p.st-score span.st-rec-num {
  color: #707070;
  height: 40px;
  position: absolute;
  display: block;
  width: 100%;
  bottom: -24px;
  left: 80px;
  text-align: right;
  font-size: 12px;
}

@media (max-width: 744px) {
  body div.st-accommodation div.st-private-rooms div.st-offers div p.st-score span.st-rec-num {
    bottom: -14px;
    width: 50px;
    text-align: left;
    left: 95px;
  }
}

body div.st-register {
  width: calc(100% - 12px);
  max-width: 1100px;
  margin: 24px auto 32px;
  border: 1px solid #e0e0e0;
  position: relative;
  height: 164px;
  min-width: 595px;
}

@media (max-width: 1100px) {
  body div.st-register {
    margin: 24px 5px 32px;
  }
}

body div.st-register img {
  padding: 24px;
  float: left;
}

body div.st-register p.st-main {
  float: left;
  width: calc(100% - 150px);
  font-size: 16px;
  font-weight: 700;
  margin: 24px 0 8px;
}

body div.st-register p.st-prices {
  float: left;
  width: calc(100% - 150px);
  margin: 0 0 20px;
}

body div.st-register input {
  float: left;
  width: 50%;
  padding: 9px;
}

body div.st-register button {
  float: left;
  width: 100px;
  background-color: white;
  height: 37px;
  line-height: 37px;
  text-align: center;
  color: #248AD4;
  margin-left: 8px;
  border: 1px solid #248AD4;
}

body div.st-popular-destination {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  position: relative;
}

body div.st-popular-destination div.st-location div.st-image {
  position: relative;
}

body div.st-popular-destination div.st-location div.st-image img {
  width: 100%;
}

body div.st-popular-destination div.st-location div.st-image div.st-image-location {
  padding: 16px;
  background-image: linear-gradient(to top, black 0px, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  bottom: 0px;
  width: calc(100% - 32px);
}

body div.st-popular-destination div.st-location div.st-image div.st-image-location p.st-name {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}

body div.st-popular-destination div.st-location div.st-image div.st-image-location p.st-country {
  color: white;
  margin: 0px;
}

body div.st-popular-destination div.st-location p.st-available {
  margin-top: 13px;
  text-decoration: underline;
  color: #0077cc;
  font-size: 14px;
}

body p.st-more-destination {
  color: #0077cc;
  text-decoration: underline;
  max-width: 1100px;
  width: 100%;
  text-align: right;
  margin: 0px auto;
  font-weight: 700;
  font-size: 13px;
}

body div.st-favorite-destinations {
  margin: 32px 0 16px;
}

body div.st-favorite-destinations p.st-title {
  font-size: 24px;
  max-width: 1100px;
  width: 100%;
  margin: 0px auto;
  font-weight: 700;
}

body div.st-favorite-destinations div.st-chosse-type {
  max-width: 1100px;
  margin: 28px auto 0px;
  border-bottom: 1px solid #0077cc;
}

body div.st-favorite-destinations span.st-selected {
  background-color: #0077cc;
  color: white;
  padding: 7px 15px;
  line-height: 30px;
  font-size: 13px;
}

body div.st-favorite-destinations span.st-unselected {
  color: #737373;
  padding: 7px 15px;
  line-height: 30px;
  font-size: 13px;
}

body div.st-favorite-destinations table.st-destinations {
  max-width: 1100px;
  margin: 0px auto;
  width: 100%;
}

body div.st-favorite-destinations table.st-destinations td {
  width: 20%;
}

body div.st-favorite-destinations table.st-destinations td span.st-name {
  color: #0077cc;
  font-size: 14px;
}

body div.st-favorite-destinations table.st-destinations td span.st-number {
  color: #737373;
  font-size: 13px;
}

body div.st-discover {
  font-size: 24px;
  font-weight: 700;
  max-width: 1100px;
  position: relative;
  margin: 60px auto 16px;
}

body div.st-page-picker {
  height: 20px;
  max-width: 1100px;
  margin: 0px auto;
}

body div.st-page-picker span.st-unselected {
  float: right;
  font-size: 13px;
  padding: 0 7px 2px;
  background-color: #838383;
  margin-left: 3px;
  color: white;
  font-weight: 400;
}

body div.st-page-picker span.st-selected {
  float: right;
  font-size: 13px;
  padding: 0 7px 2px;
  background-color: #0077cc;
  margin-left: 3px;
  color: white;
  font-weight: 400;
}

body div.st-page-picker span.st-more {
  float: right;
  margin-left: 10px;
  font-size: 13px;
  text-decoration: underline;
  color: #0077cc;
}

body div.st-things-holder {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body div.st-things-holder div.st-things-to-enjoy {
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-width: 0px;
  max-width: 1100px;
  margin: 12px auto;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 14px;
  position: relative;
}

body div.st-things-holder div {
  min-width: 0px;
  position: relative;
}

body div.st-things-holder div img {
  width: 100%;
}

body div.st-things-holder div p.st-text {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: calc(100% - 30px);
  font-size: 14px;
  color: white;
  top: 0px;
  margin: 0px;
  text-align: center;
  padding: 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
}

body div.st-things-holder div p.st-text:hover {
  border: 1px solid #eee;
  padding: 2px;
  white-space: normal;
  word-break: break-word;
  z-index: 5;
  background-color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body div.st-things-holder div p.st-text:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 15px;
}

body div.st-things-holder div p.st-location-name {
  font-size: 14px;
  color: #0077cc;
  text-align: center;
  padding: 7px 0;
  margin: 0 0 50px;
}

body div.st-footer-holder {
  background-color: #001b42;
  padding: 50px 0px;
}

body div.st-footer-holder div.st-footer {
  color: white;
  max-width: 1100px;
  margin: 0px auto;
  text-align: center;
}

body div.st-footer-holder div.st-footer h2.st-title {
  font-size: 24px;
  font-weight: 300;
  margin: 0px;
  display: block;
}

body div.st-footer-holder div.st-footer p.st-subscribe {
  font-size: 16px;
  margin: 0 0 25px;
}

body div.st-footer-holder div.st-footer div.st-subscribe-holder {
  width: 50%;
  min-width: 435px;
  margin: 0px auto;
}

body div.st-footer-holder div.st-footer div.st-subscribe-holder input.st-give-mail {
  width: 65%;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  border-radius: 5px;
  border: 0px;
}

body div.st-footer-holder div.st-footer div.st-subscribe-holder input.st-submit {
  padding: 14.4px 24px;
  font-size: 16px;
  background-color: #0077cc;
  border: 0px;
  color: white;
  line-height: 15px;
  border-radius: 5px;
}

body div.st-footer-holder div.st-footer p.st-send-me {
  margin: 0px;
  width: 100%;
}

body div.st-add-object {
  width: calc(100% - 20px);
  padding: 15px 10px;
  background-color: #003580;
  border-bottom: 1px solid white;
}

body div.st-add-object input {
  color: white;
  display: block;
  background-color: #003580;
  border: 1px solid white;
  border-radius: 5px;
  line-height: 28px;
  padding: 0 15px;
  font-size: 13px;
  margin: 0px auto;
}

body div.st-version-picker {
  background-color: #003580;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  float: left;
}

body div.st-version-picker div.st-navigation {
  max-width: 1100px;
  width: 100%;
  margin: 0px auto;
}

body div.st-version-picker div.st-navigation span {
  display: block;
  padding: 15px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
  text-decoration: underline;
  font-size: 13px;
  color: white;
  margin: 0 auto;
  font-weight: 700;
}

body div.st-links {
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

body div.st-links ul {
  list-style-type: none;
  color: #0077cc;
  font-size: 13px;
}

body div.st-links ul li {
  margin-bottom: 10px;
}

body p.st-support {
  width: calc(100% - 16px);
  max-width: 1100px;
  margin: 0px auto;
  border-top: 1px solid #e9f0fa;
  border-bottom: 1px solid #e9f0fa;
  padding: 11px 8px;
  font-size: 12px;
}

body p.st-support span {
  color: #0077cc;
  font-weight: 700;
}

body p.st-ekstranet {
  text-align: center;
  margin: 54px 0 0;
  font-size: 14px;
  font-weight: 700;
  color: #0077cc;
}

body p.st-copyrights {
  font-size: 10px;
  max-width: 1100px;
  text-align: left;
  margin: 40px auto 0;
}

body p.st-about-us {
  text-align: center;
  color: #838383;
  font-size: 12px;
  margin-top: 28px;
}

body div.st-partners {
  width: calc(100% - 30px);
  max-width: 1100px;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  padding: 0px 15px;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: auto;
}

@media (max-width: 750px) {
  body div.st-partners {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */