@import "colors.scss";
@import "mixins.scss";

body 
{
  font-family:Helvetica, Arial, sans-serif;
  min-width: 600px;
  margin: 0;
  padding: 0 0 40px;
  div.st-header 
  {
    background-color: $blue;

    div.st-top 
    {
      max-width: 1110px;
      margin: 0px auto;
      height: 50px;
      img.st-logo 
      {
        width: 150px;
        height: 25px;
        margin-left:7px;
        @include vertical-center();
      }
      input.st-button 
      {
        height: 30px;
        border: 0px;
        background-color: white;
        border-radius: 3px;
        text-align: center;
        line-height: 30px;
        float: right;
        font-size: 12px;
        padding: 0px 13px;
        font-weight: 700;
        @include vertical-center();
        &:hover
        {
          cursor: pointer;
        }
      }
      input.st-sign 
      {
        margin-right: 15px;
      }
      input.st-register 
      {
        margin-right: 15px;
        padding: 0px 10px;
      }
      
      input.st-import 
      {
        float: right;
        background-color: $blue;
        border: 1px solid white;
        color: white;
        @include vertical-center();
        margin-right: 15px;
        border-radius: 3px;
        font-size: 12px;
        padding: 8px 11px;
        font-weight: 700;
        &:hover
        {
          cursor: pointer;
        }
        @include break-point(650px) 
        {
          display: none;
        }
      }
      img.st-flag 
      {
        float: right;
        margin-right: 26px;
        @include vertical-center();
        height: 18px;
        &:hover
        {
          cursor: pointer;
        }
      }
      span.st-currency
      {
        color: white;
        margin-right: 34px;
        font-size: 12px;
        float: right;
        font-weight: 700;
        @include vertical-center();
        &:hover
        {
          cursor: pointer;
        }
      }
    }
    div.st-bottom 
    {
      max-width: 1110px;
      display:grid;
      grid-template-columns: repeat(5, 1fr);
      line-height: 15px;
      margin:0px auto;
      text-align: left;
      font-size:14px;
      @include break-point (1100px)
      {
        width:calc(100% - 14px);
        margin:0 7px;
      }
      @include break-point (725px)
      {
        font-size:12px;
      }
      div.st-icon-container
      {
        width: fit-content;
        height:100%;
        margin:0px;
        float:left;
      }
        span.st-unselected 
        {
          color: #ffffff;
          opacity: .8;
          word-break: normal;
          &:hover
          {
            opacity:1;
            cursor: pointer;;
          }
        }
        span.st-selected 
        {
          width: fit-content;
          height:22px;
          border-bottom: 2px solid white;
          &:hover
          {
            cursor: no-drop;
          }
          @include break-point(949px)
          {
            height: 26px;
          }
        }
        span 
        {
          color: white;
          margin: 0;
          display: inline-block;
          padding: 16px 0;
        }
        i 
          {
            font-size: 25px;
            margin-right: 5px;
            color: white;
          }
      }
  }
  div.st-search 
  {
    height: fit-content;
    min-height: 260px;
    background-color: #f7f7f7;
    margin: 0px;
    padding-top:45px;
    border-bottom: 1px solid #EDEDED;
    @include break-point(1080px) 
    {
      height: 410px;
    }
    p.st-important 
    {
      font-size: 24px;
      margin: 0 auto;
      max-width: 1100px;
      font-weight: 600; 
      @include break-point (1100px)
      {
        width:calc(100% - 14px);
        margin:0 7px;
      }
    }
    p.st-description 
    {
      margin: 0 auto 15px;
      max-width: 1100px;
      font-size: 14px;
      @include break-point (1100px)
      {
        width:calc(100% - 14px);
        margin:0 7px 15px;
      }
    }
   
    div.st-search-content 
    {
      padding: 4px;
      height: 61px;
      width: calc(100% - 10px);
      max-width: 1100px;
      background-color: #febb02;
      margin: 0 auto;
      @include break-point (1100px)
      {
        width:calc(100% - 24px);
        margin:0 7px;
      }
      @include break-point (1080px)
      {
        height:247px;
      }
      div.st-location 
      {
        position: relative;
        height: 52px;
        float: left;
        width:35%;
        min-width: 190px;
        margin:-3px 0 0 0;
        @include break-point(1080px) 
        {
          width: calc(100% - 5px);
        }
        input {
          width: calc(100% - 63px);
          height: 100%;
          padding-left: 60px;
          margin: 4px;
          font-size: 14px;
          &:hover
          {
            cursor: pointer;
            outline: 1px solid #D59C00;
          }
          &:focus
          {
            outline: none;
          }
        }
        i 
        {
          position: absolute;
          top: 18px;
          font-size: 25px;
          left: 18px;
          color: $gray;
        }
      }
      div.st-date 
      {
        position: relative;
        height: 52px;
        width:28%;
        float: left;
        min-width: 235px;
        margin: -3px 4px 0 0;

        @include break-point(1080px) 
        {
          display: none;
        }

        input 
        {
          width: calc(100% - 63px);
          height: 100%;
          padding-left: 60px;
          margin: 4px;
          font-size: 14px;
          &:hover
          {
            cursor: pointer;
            outline: 1px solid #D59C00;
          }
          &:focus
          {
            outline: none;
          }
        }
        i 
        {
          position: absolute;
          top: 18px;
          font-size: 25px;
          left: 24px;
          color: $gray;
        }
      }
      div.st-low-res-date 
      {
        display: none;
        @include break-point(1080px) 
        {
          width: 100%;
          margin-top:9px;
          div 
          {
            position: relative;
            width: 50%;
            float: left;
          }
          position: relative;
          display: block;
          float: left;
          width: 100%;
          input 
          {
            width: calc(100% - 83px);
            height: 52px;
            padding-left: 60px;
            padding-right: 15px;
            float: left;
            margin: 4px;
            font-size: 14px;
            &:hover
            {
              cursor: pointer;
              outline: 1px solid #D59C00;
            }
            &:focus
            {
              outline: none;
            }
          }
          i 
          {
            position: absolute;
            top: 18px;
            font-size: 25px;
            left: 24px;
            color: $gray;
          }
        }
      }
      div.st-count 
      {
        width:26%;
        position: relative;
        width: 26%;
        height: 52px;
        float: left;
        min-width: 270px;
        margin:-3px 0 0 0;
        &:hover
        {
          cursor: pointer;
        }
        @include break-point(1080px) 
        {
          width: 100%;
        }

        input 
        {
          width: calc(100% - 60px);
          height: 100%;
          padding-left: 60px;
          margin: 4px;
          font-size: 14px;
          &:hover
          {
            cursor: pointer;
            outline: 1px solid #D59C00;
          }
          &:focus
          {
            outline: none;
          }
          @include break-point(1080px) 
          {
            width: calc(100% - 68px);
          }
        }
        i {
          position: absolute;
          top: 18px;
          font-size: 25px;
          left: 24px;
          color: $gray;
        }
      }
      div.st-search-btn 
      {
        position: relative;
        float:left;
        width: calc(11% - 16px);
        margin: 1px 0px 0 12px;
        @include break-point(1080px) 
        {
          width: calc(100% - 4px);
          margin: 14px 4px 0 4px;
        }
        input.st-input 
        {
          all:unset;
          text-align: center;
          width: 100%;
          position: relative;
          float: left;
          height: 58px;
          font-size: 20px;
          padding:0px;
          color: white;
          background-color: #006bb8;
          min-width: 75px;
          overflow: hidden;
          &:hover
          {
            cursor: pointer;
          }
          
        }
      }
      div.st-bussiness 
      {
        float: left;
        width: 100%;
        position: relative;
        margin-top: 15px;
        label.container {
          left:-9px;
          display: block;
          position: relative;
          float:left;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; 
          input
          {
            height: 20px;
            width:20px;
          }
          span 
          {
            position: relative;
            bottom:4px;
          }
      }
    }
  }
  }
  div.st-special-offer 
  {
    width: calc(100% - 30px);
    max-width: 1100px;
    margin: 60px auto 24px;
    border: 1px solid $border-gray;
    height: 155px;
    position: relative;
    @include break-point(1100px) 
    {
      margin: 60px 10px 24px;
    }
    img 
    {
      top: 24px;
      left: 24px;
      position: absolute;
    }
    p.st-bold 
    {
      font-weight: 700;
      position: absolute;
      left: 138px;
      top: 5px;
      font-size: 16px;
    }
    p.st-description 
    {
      position: absolute;
      width: calc(100% - 150px);
      left: 138px;
      color: $text-gray;
      top: 37px;
      font-size: 14px;
      @include text-overflow();
    }
    input 
    {
      color: $blue-button;
      background-color: white;
      font-weight: 900;
      font-size: 14px;
      border: 1px solid $blue-button;
      padding: 8px 16px;
      position: absolute;
      left: 138px;
      top: 89px;
      &:hover
      {
        cursor: pointer;
        background-color: #E5F0FF;
      }
    }
    i 
    {
      position: absolute;
      right: 26px;
      top: 26px;
      font-size: 25px;
      color:#707070;
      opacity: .4;
      &:hover
      {
        opacity:1;
      }
    }
  }
  div.st-images 
  {
    width: calc(100% - 30px);
    max-width: 1100px;
    margin: 60px auto 24px;
    position: relative;
    @include break-point(1100px) 
    {
      margin: 60px 10px 24px;
    }
    div.st-image-holder 
    {
      width: 100%;
      max-width: 1100px;
      min-width: 650px;
      position: relative;
      float: left;
      div.st-first 
      {
        width: calc(50% - 10px);
        background: url(../img/peterburg.jpg);
        margin-right: 10px;
        height: 340px;
        float: left;
        border-radius: 3px;

        p.st-title 
        {
          position: absolute;
          top: 25px;
          left: 25px;
          margin: 0px;
          color: white;
          font-size: 28px;
          font-weight: 700;
          text-shadow: 1px 1px black;
          width: calc(50% - 62px);
          img 
          {
            top: 10px;
            position: absolute;
            margin-left: 10px;
          }
        }
        p.st-objects 
        {
          position: absolute;
          color: white;
          top: 49px;
          width: calc(50% - 32px);
          left: 25px;
          text-shadow: 1px 1px black;
          span 
          {
            font-weight: 700;
            text-shadow: 1px 1px black;
          }
        }
        p.st-check 
        {
          background-color: #e9f0fa;
          margin: 0px;
          position: absolute;
          width: calc(50% - 20px);
          bottom: 37px;
          font-weight: 700;
          font-size: 14px;
          padding: 0px 5px;
        }
        div.st-suggestion 
        {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr;
          grid-gap: 5px;
          background-color: white;
          position: absolute;
          width: calc(50% - 22px);
          padding: 10px 5px 5px;
          bottom: 0px;
          margin: 0px;
          height: 20px;
          line-height: 20px;
          border: 1px solid #e9f0fa;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          font-weight: 400;
          font-size: 14px;
          text-align: center;
          p.st-date 
          {
            margin: 0px;
            text-align: left;
            color: blue;
            text-decoration: underline;
            min-width: 87px;
          }
          p.st-room 
          {
            margin: 0px;
            text-align: center;
            font-size: 14px;
            min-width: 150px;
          }
          i 
          {
            text-align: right;
            color: blue;
          }
        }
        div.st-icon-holder 
        {
          position: absolute;
          right: calc(50% + 20px);
          top: 10px;
          color: white;
        }
      }
      div.st-second
      {
        float: left;
        width: calc(50% - 10px);
        margin-left: 10px;
        border-radius: 3px;
        height: 340px;
        background: url(../img/moskva.png);
        img.st-icon 
        {
          width: 28px;
          height: 28px;
          border-top-left-radius: 3px;
        }
        p.st-title 
        {
          position: absolute;
          top: 25px;
          left: calc(50% + 27px);
          margin: 0px;
          color: white;
          font-size: 28px;
          font-weight: 700;
          text-shadow: 1px 1px black;
          width: calc(50% - 62px);
          img 
          {
            top: 10px;
            position: absolute;
            margin-left: 10px;
          }
        }
        p.st-objects 
        {
          position: absolute;
          color: white;
          top: 49px;
          left: calc(50% + 27px);
          width: calc(50% - 32px);
          text-shadow: 1px 1px black;
        }
        p.st-average-price 
        {
          background-color: $black;
          margin: 0px;
          width: fit-content;
          font-size: 12px;
          position: absolute;
          right: 15px;
          bottom: 15px;
          padding: 4px 6px;
          border-radius: 3px;
          text-align: right;
          color: white;
          span.st-price 
          {
            font-size: 16px;
          }
        }
        div.st-icon-holder 
        {
          position: absolute;
          right: 20px;
          color: white;
          top: 10px;
        }
      }
    }
    div.st-second-row 
    {
      width: 100%;
      max-width: 1100px;
      min-width: 670px;
      display: grid;
      float: left;
      margin: 15px 0 40px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px;
      position: relative;
      height: 272px;
      div.st-image 
      {
        position: relative;
        border-radius: 3px;
        img.st-icon 
        {
          width: 28px;
          height: 28px;
          border-top-left-radius: 3px;
        }
        p.st-title 
        {
          position: absolute;
          top: 25px;
          left: 25px;
          margin: 0px;
          color: white;
          font-size: 28px;
          font-weight: 700;
          text-shadow: 1px 1px black;
          img 
          {
            height: 18px;
            width: 18px;
          }
        }
        p.st-objects-number 
        {
          position: absolute;
          left: 25px;
          top: 45px;
          text-shadow: 1px 1px black;
          color: white;
          font-size: 16px;
        }
        p.st-price 
        {
          background-color: $black;
          margin: 0px;
          width: fit-content;
          font-size: 12px;
          position: absolute;
          right: 15px;
          bottom: 15px;
          padding: 4px 6px;
          border-radius: 3px;
          text-align: right;
          color: white;
          span 
          {
            font-size: 16px;
          }
        }
        i 
        {
          color: white;
          position: absolute;
          right: 15px;
          top: 15px;
        }
      }
      div.st-first 
      {
        background: url(../img/kiev.jpg);
      }
      div.st-second 
      {
        background: url(../img/riga.jpg);
      }
      div.st-third 
      {
        background: url(../img/helsinki.jpg);
      }
    }
  }
  div.st-accommodation 
  {
    max-width: 1100px;
    width: 100%;
    margin: 0px auto;
    p.st-title 
    {
      font-size: 24px;
      color: $black;
      float: left;
      font-weight: 700;
      margin: 0px 0px 16px;
    }
    div.st-sorts 
    {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      height: 300px;
      grid-gap: 16px;
      float: left;
      width: calc(100% - 10px);
      padding: 0 5px;
      div.st-apartments
      {
        
        background-image: url(../img/apartments.png);
      }
      div.st-resorts
      {
        background-image: url(../img/resorts.png);
      }
      div.st-villas
      {
        background-image: url(../img/villas.png);
      }
      div.st-cabins
      {
        background-image: url(../img/cabins.png);
      }
      div.st-cottages
      {
        background-image: url(../img/cottages.jpg);
      }
      div.st-type 
      {
        background-repeat: no-repeat;
        border-radius: 3px;
        height:205px;
        background-size: auto 205px;
        p.st-type 
        {
          font-size: 16px;
          font-weight: 700;
          margin: 221px 0 0;
        }
        p.st-ammount 
        {
          color: #707070;
          font-size: 12px;
          margin: 0 0 16px;
        }
      }
    }
    div.st-private-rooms 
    {
      p.st-title 
      {
        font-size: 24px;
        padding: 0 5px;
        width: calc(100% - 10px);
      }
      div.st-offers 
      {
        max-width: 1100px;
        width: calc(100% - 10px);
        height: 356px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: relative;
        grid-gap: 16px;
        padding: 0 5px;
        div.st-domina
        {
          background-image: url(../img/domina.png);
        }
        div.st-annabel
        {
          background-image: url(../img/annabel.png);
        }
        div.st-elegant
        {
          background-image: url(../img/elegant.png);
        }
        div.st-belinskogo
        {
          background-image: url(../img/belinskogo.png);
        }
        div
        {
          border-radius: 3px;
          height:240px;
          background-repeat: no-repeat;
          background-size: auto 240px;
          position: relative;
          min-width: 0;
          p.st-name 
          {
            color: $text-gray;
            margin: 247px 0 0 0;
            max-width: 100%;
            font-size: 14px;
            position: absolute;
            @include text-overflow();
          }
          p.st-location 
          {
            color: #707070;
            font-size: 14px;
            margin: 0;
            position: absolute;
            top: 267px;
          }
          p.st-price 
          {
            margin: 8px 0 0;
            font-size: 14px;
            position: absolute;
            top: 279px;
            font-weight: 600;
          }
          p.st-score 
          {
            top: 296px;
            position: absolute;
            span.st-mark 
            {
              background-color: $mark-blue;
              color: white;
              padding: 4px;
              border-radius: 6px 6px 6px 0px;
              font-size: 14px;
              font-weight: 500;
            }
            span.st-desc 
            {
              color: $mark-blue;
              font-size: 14px;
              font-weight: 500;
            }
            span.st-rec-num 
            {
              color: #707070;
              height: 40px;
              position: absolute;
              display: block;
              width: 100%;
              bottom: -24px;
              left: 80px;
              text-align: right;
              font-size: 12px;
              @include break-point(744px) 
              {
                bottom: -14px;
                width: 50px;
                text-align: left;
                left: 95px;
              }
            }
          }
        }
      }
    }
  }
  div.st-register 
  {
    width: calc(100% - 12px);
    max-width: 1100px;
    margin: 24px auto 32px;
    border: 1px solid $border-gray;
    position: relative;
    height: 164px;
    min-width:595px;
    @include break-point(1100px) 
    {
      margin: 24px 5px 32px;
    }

    img 
    {
      padding: 24px;
      float: left;
    }
    p.st-main 
    {
      float: left;
      width: calc(100% - 150px);
      font-size: 16px;
      font-weight: 700;
      margin: 24px 0 8px;
    }
    p.st-prices 
    {
      float: left;
      width: calc(100% - 150px);
      margin: 0 0 20px;
    }
    input
    {
      float: left;
      width: 50%;
      padding: 9px;
    }
    button 
    {
      float: left;
      width: 100px;
      background-color: white;
      height: 37px;
      line-height: 37px;
      text-align: center;
      color: $blue-button;
      margin-left: 8px;
      border: 1px solid $blue-button;
    }
  }
  div.st-popular-destination 
  {
    display: grid;
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    position: relative;
    div.st-location 
    {
      div.st-image 
      {
        position: relative;
        img 
        {
          width: 100%;
        }
        div.st-image-location 
        {
          padding: 16px;
          background-image: linear-gradient(to top, rgb(0, 0, 0) 0px, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
          position: absolute;
          bottom: 0px;
          width: calc(100% - 32px);

          p.st-name 
          {
            color: white;
            font-size: 18px;
            font-weight: 700;
            margin: 0px;
          }
          p.st-country 
          {
            color: white;
            margin: 0px;
          }
        }
      }
      p.st-available 
      {
        margin-top: 13px;
        text-decoration: underline;
        color: #0077cc;
        font-size: 14px;
      }
    }
  }
  p.st-more-destination 
  {
    color: #0077cc;
    text-decoration: underline;
    max-width: 1100px;
    width: 100%;
    text-align: right;
    margin: 0px auto;
    font-weight: 700;
    font-size: 13px;
  }
  div.st-favorite-destinations 
  {
    margin: 32px 0 16px;
    p.st-title 
    {
      font-size: 24px;
      max-width: 1100px;
      width: 100%;
      margin: 0px auto;
      font-weight: 700;
    }
    div.st-chosse-type 
    {
      max-width: 1100px;
      margin: 28px auto 0px;
      border-bottom: 1px solid #0077cc;
    }
    span.st-selected
    {
      background-color: #0077cc;
      color: white;
      padding: 7px 15px;
      line-height: 30px;
      font-size: 13px;
    }
    span.st-unselected 
    {
      color: #737373;
      padding: 7px 15px;
      line-height: 30px;
      font-size: 13px;
    }
    table.st-destinations 
    {
      max-width: 1100px;
      margin: 0px auto;
      width: 100%;
      td 
      {
        width: 20%;
        span.st-name 
        {
          color: #0077cc;
          font-size: 14px;
        }
        span.st-number 
        {
          color: #737373;
          font-size: 13px;
        }
      }
    }
  }
  div.st-discover 
  {
    font-size: 24px;
    font-weight: 700;
    max-width: 1100px;
    position: relative;
    margin: 60px auto 16px;
  }
  div.st-page-picker 
  {
    height: 20px;
    max-width: 1100px;
    margin: 0px auto;
    span.st-unselected 
    {
      float: right;
      font-size: 13px;
      padding: 2px 7px 2px;
      background-color: #838383;
      margin-left: 3px;
      color: white;
      font-weight: 400;
    }
    span.st-selected 
    {
      float: right;
      font-size: 13px;
      padding: 2px 7px 2px;
      background-color: #0077cc;
      margin-left: 3px;
      color: white;
      font-weight: 400;
    }
    span.st-more 
    {
      float: right;
      margin-left: 10px;
      font-size: 13px;
      text-decoration: underline;
      color: #0077cc;
    }
  }
  div.st-things-holder 
  {
    width: 100%;
    height: fit-content;
    div.st-things-to-enjoy 
    {
      display: grid;
      width: 100%;
      min-width: 0px;
      max-width: 1100px;
      margin: 12px auto;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 14px;
      position: relative;
    }
    div 
    {
      min-width: 0px;
      position: relative;
      img 
      {
        width: 100%;
      }
      p.st-text 
      {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        width: calc(100% - 30px);
        font-size: 14px;
        color: white;
        top: 0px;
        margin: 0px;
        text-align: center;
        padding: 0 15px;
        @include text-overflow();
        &:hover 
        {
          border: 1px solid #eee;
          white-space: normal;
          text-align: center;
          word-break: break-word;
          z-index:5;
          height:calc(100% - 86px);
          background-color: rgba(0, 0, 0, 0.3);
          padding: 0 15px;
        }
      }
      p.st-location-name 
      {
        font-size: 14px;
        color: #0077cc;
        text-align: center;
        padding: 7px 0;
        margin: 0 0 50px;
      }
    }
  }
  div.st-footer-holder 
  {
    background-color: #001b42;
    padding: 50px 0px;
    div.st-footer 
    {
      color: white;
      max-width: 1100px;
      margin: 0px auto;
      text-align: center;
      h2.st-title 
      {
        font-size: 24px;
        font-weight: 300;
        margin: 0px;
        display: block;
      }
      p.st-subscribe 
      {
        font-size: 16px;
        margin: 0 0 25px;
      }
      div.st-subscribe-holder 
      {
        width: 50%;
        min-width: 435px;
        margin: 0px auto;
        input.st-give-mail 
        {
          width: 65%;
          padding: 10px;
          font-size: 20px;
          line-height: 20px;
          border-radius: 3px;
          border: 0px;
        }
        input.st-submit 
        {
          padding: 14.4px 24px;
          font-size: 16px;
          background-color: #0077cc;
          border: 0px;
          color: white;
          line-height: 15px;
          border-radius: 3px;
        }
      }
      p.st-send-me 
      {
        margin: 0px;
        width: 100%;
      }
    }
  }
  div.st-add-object
  {
    width: calc(100% - 20px);
    padding: 15px 10px;
    background-color: #003580;
    border-bottom: 1px solid white;
    input 
    {
      color: white;
      display: block;
      background-color: #003580;
      border: 1px solid white;
      border-radius: 3px;
      line-height: 28px;
      padding: 0 15px;
      font-size: 13px;
      margin: 0px auto;
    }
  }
  div.st-version-picker 
  {
    background-color: #003580;
    width: 100%;
    height: fit-content;
    float: left;
    div.st-navigation 
    {
      max-width: 1100px;
      width: 100%;
      margin: 0px auto;
      span 
      {
        display: block;
        padding: 15px 10px;
        width: fit-content;
        float: left;
        text-decoration: underline;
        font-size: 13px;
        color: white;
        margin: 0 auto;
        font-weight: 700;
      }
    }
  }
  div.st-links 
  {
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    ul 
    {
      list-style-type: none;
      color: #0077cc;
      font-size: 13px;
      li 
      {
        margin-bottom: 10px;
      }
    }
  }
  p.st-support 
  {
    width: calc(100% - 16px);
    max-width: 1100px;
    margin: 0px auto;
    border-top: 1px solid #e9f0fa;
    border-bottom: 1px solid #e9f0fa;
    padding: 11px 8px;
    font-size: 12px;
    span 
    {
      color: #0077cc;
      font-weight: 700;
    }
  }
  p.st-ekstranet 
  {
    text-align: center;
    margin: 54px 0 0;
    font-size: 14px;
    font-weight: 700;
    color: #0077cc;
  }
  p.st-copyrights 
  {
    font-size: 10px;
    max-width: 1100px;
    text-align: left;
    margin: 40px auto 0;
  }
  p.st-about-us
  {
    text-align: center;
    color: #838383;
    font-size: 12px;
    margin-top: 28px;
  }
  div.st-partners 
  {
    width: calc(100% - 30px);
    max-width: 1100px;
    margin: 0px auto;
    display: grid;
    padding: 0px 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: auto;
    @include break-point(750px) 
    {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
